<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScrollViewSBDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FAC8E4B1C995C04003A866F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FAC8E641C995C04003A866F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FAC8E6F1C995C04003A866F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
